body{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(background.jpg);
}
.m {
    color:white;
    font-family: sans-serif;
    display: flex;
    padding: 35px;
    height: 25px;
    margin-left: 130px;
}
.mp{
    height: 250px;
    width: 500px;
    margin-left: 85px;
    padding: 1px;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.v {
    color:white;
    font-family: sans-serif;
    padding: -5px;
    height: 25px;
    display: flex;
    margin-left: 650px;
    width: 600px;
}
.vp{
     height: 250px;
     width: 270px;
     margin-right: 85px;
     padding: 1px;
     color: white;
     font-family: sans-serif;
     font-size: 20px;
}
.team{
    color:white;
    font-family: sans-serif;
    display: flex;
    padding: 35px;
    height: 25px;
    margin-left: -15px;
    justify-content: center;
    text-align: center;
}
 .img{
    
    margin-left: 300px;
 }
 .ip{
    width: 1300px;
     display: flex;
     justify-content: center;
     color: white;
     font: italic;
 }
 .ip1{
    width: 1300px;
     display: flex;
     justify-content: center;
     color: white;
     font-size: 35px;
 }
 .l1{
  
    color:white;
    font-family: sans-serif;
    display: flex;
    padding: 35px;
    height: fit-content;
    margin-left: -15px;
    justify-content: center;
    text-align: center;
 }
 .p2{
    height: fit-content;
    margin-right: -750px;
 }